@import "tailwindcss";

/* ----------------------------- */
/* Базовые настройки */
/* ----------------------------- */

:root {
  --background: #faf9f7;
  --text: #5f554b;

  --gold: #b89664;

  --ivory: #f8f5ef;

  --champagne: #efe6da;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text);

  font-family: var(--font-body);

  overflow-x: hidden;
}

/* Заголовки */

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: 500;
}

/* Кнопки */

button {
  cursor: pointer;
}

/* Выделение текста */

::selection {
  background: #b89664;
  color: white;
}
/* Каллиграфия для имен */

.script {
  font-family: var(--font-script);
}


/* Элегантные заголовки */

.heading {
  font-family: var(--font-heading);
}